:root {
  --primary: linear-gradient(45deg, #32dfff, #c152ff);
  --BlackColor: #191919;
  --Radius: 1rem;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  border-radius: 1rem;
  cursor: pointer;
  background: var(--primary);
  border: none;
  padding: 0.7rem;
  color: white;
}
